*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{

    width:100vw;
    height:100vh;

    display:flex;
    justify-content:center;
    align-items:center;

    background:white;

    font-family:Arial, Helvetica, sans-serif;

    color:black;

}

main{

    text-align:center;

    width:700px;

    padding:20px;

}

h1{

    font-size:38px;

    font-weight:700;

    line-height:1.35;

    margin-bottom:50px;

}

button{

    background:black;

    color:white;

    border:none;

    border-radius:8px;

    padding:15px 38px;

    font-size:18px;

    font-weight:500;

    cursor:pointer;

    transition:0.2s;

}

button:hover{

    opacity:0.85;

}

#message{

    margin-top:28px;

    color:#c40000;

    font-size:24px;

    font-weight:600;

    min-height:24px;

}